@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/montserrat-v15-latin-500.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/montserrat-v15-latin-700.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(../assets/fonts/montserrat-v15-latin-800.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/merriweather-v22-latin-regular.woff);
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/merriweather-v22-latin-700.woff);
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/raleway-v19-latin-regular.woff);
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/fa-brands-400.woff);
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/fa-regular-400.woff);
}

@import "normalize.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 1440px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: white;
    cursor: default;
    color: black;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

button, button:active, button:focus {
    outline: none;
    border: none;
}

input, input:active, input:focus {
    background: none;
    outline: none;
    border: none;
}

.header {
    width: 100%;
    height: 805px;
    background: no-repeat center url(../assets/img/juice-glass.png) #eff0f2;
    background-position: bottom 75px right 200px;
    padding: 65px 150px;
    font-family: 'Montserrat';
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: black;
    font-weight: 800;
    letter-spacing: 0.05em;
    &__o {
        font-size: 21px;
        color: #77efe5;
        -webkit-text-stroke: 1px rgba(172,187,188,0.8);
    }
    width: 115px;
    height: 45px;
    border: 6px solid black;
    padding: 5px 7px;
    width: 112px;
}

.burger {
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    &__part {
        width: 100%;
        height: 4px;
        background: #606061;
    }
    &:hover {
        cursor: pointer;
    }
}

.title {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #505050;
    text-shadow: 7px 9px 10px rgba(0,0,0,0.24);
    font-weight: 700;
    margin-top: 194px;
    margin-left: 10px;
    letter-spacing: 0.04em;
    line-height: 58px;
    &__highlight {
        background: #b2f2ee;
        height: 55px;
        display: inline-block;
        &Shopno {
            width: 255px; 
            text-align: right;
            padding-right: 11px;
            margin-left: 6px;
        }
        &Agency {
            width: 235px;
            text-align: left;
            padding-left: 15px;
            margin-left: -25px;
            margin-right: 4px;
        }
    }
}

.contactButton, .contactButton:visited {
    display: block;
    padding: 0.7em;
    text-align: center;
    width: 232px;
    height: 53px;
    display: block;
    margin: 136px auto 0;
    color: #3c3c3d;
    border: 2px solid #777879;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.09em;
    cursor: pointer;
}

.section {
    padding: 120px 150px;
    width: 100%;
    &__headline {
        font-family: 'Montserrat';
        font-size: 38px;
        font-weight: 800;
        text-align: center;
        letter-spacing: 0.04em;
        text-indent: 20px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    &__description {
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        opacity: 0.62;
        text-align: center;
        letter-spacing: 0.07em;
    }
}

.about {
    background: #f8fafa;
    padding: 120px 185px;
    height: 985px;
    &Wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 130px;
    }
    &Preview { 
        padding-top: 50px;
        &__background {
            height: 410px;
            width: 480px;
            background: #eff0f2;
        } 
        &__photo {
            position: relative;
            top: -445px;
            margin: 0 auto;
            height: 480px;
            width: 395px;
            background: no-repeat url(../assets/img/about_preview.png);
            background-position: bottom -7px left -230px;
            box-shadow: 0px -3px 30px 0 rgba(0,0,0,0.13);
        }
    }
    &Text {
        color: rgba(0,0,0,0.75);
        width: 480px;
        &__point {
            font-family: 'Merriweather';
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.07em;
            &1 {
                font-size: 20px;
                line-height: 3em;
            }
            &2 {
                font-size: 17px;
                line-height: 3em;
                margin-top: 1em;
            }
        }
        &__paragraph {
            letter-spacing: 0.04em;
            line-height: 1.8em;
            margin-bottom: 0.8em;
        }
    }
}

.photoNavigation {
    width: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -400px;
    margin: 0 auto;
    &__dot {
        height: 10px;
        width: 10px;
        background: #d0d0d0;
        border-radius: 4px;
    }
    &__dot:hover,  &__dot:active {
        background: #71f6eb;
        cursor: pointer;
    }
}

.featured {
    &Wrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
        gap: 15px;
        margin-top: 120px;
    }    
    &Work {
        width: 370px;
        height: 360px;
        &1 {
            background: url(../assets/img/featured_icecream.jpg);
            background-position: top -10px right -255px;
        }
        &2 {
            background: url(../assets/img/featured_box.jpg);
        }
        &3 {
            background: url(../assets/img/featured_bottles.jpg);
            background-position: top -10px left -5px;
        }
        &4 {
            background: url(../assets/img/featured_diary.jpg);
            background-position: bottom 0 left -30px;
        }
        &5 {
            background: url(../assets/img/featured_9.jpg);
            background-position: bottom -20px left -10px;
        }
        &6 {
            background: url(../assets/img/featured_tea.jpg);
            background-position: bottom 0 left -210px;
        }
    }
}

.services {
    background: #f9fbfb;
}

.servContainer {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 120px;
}

.servWrapper {
    display: grid;
    grid-template-rows: 420px 370px;
    grid-template-columns: 650px 475px;
    row-gap: 15px;
    column-gap: 13px;
    &Reverse {
    display: grid;
    grid-template-rows: 370px;
    grid-template-columns: 472px 653px;
    gap: 15px;
    }
}

.service {
    padding-left: 65px;
    padding-bottom: 3.4em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &Main {
        background: linear-gradient(to top, rgba(109,246,235,0.97), rgba(109,246,235,0.97)),
        url(../assets/img/featured_tea.jpg);
        background-repeat: no-repeat;
        background-position: center;
        color: black;
        display: block;
        padding-top: 65px;
        & .service__description, & .service__headline {
            width: 82%;
        }
        & .service__button::after {
            content: url(../assets/img/cross.png);
            margin-left: 0;
        }
        & .service__description {
            margin-bottom: 5em;
        }
    }
    &1 {
        background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(../assets/img/background_service1.png);
        background-repeat: no-repeat;
        background-position: center;
        & .service__description, & .service__headline {
            width: 80%;
        }
    }
    &2 {
        background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(../assets/img/background_service2.png);
        background-repeat: no-repeat;
        background-position: center;
        & .service__description, & .service__headline {
            width: 72%;
        }
    }
    &3 {
        background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(../assets/img/background_service3.png);
        background-repeat: no-repeat;
        background-position: center;
        & .service__description, & .service__headline {
            width: 80%;
        }
    }
    &4 {
        background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(../assets/img/background_service4.png);
        background-repeat: no-repeat;
        background-position: center;
        & .service__description, & .service__headline {
            width: 72%;
        }
    }
    &5 {
        background: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(../assets/img/background_service5.png);
        background-repeat: no-repeat;
        background-position: center;
        & .service__description, & .service__headline {
            width: 72%;
        }
    }
    &__headline {
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        opacity: 0.95;
    }
    &__description {
        opacity: 0.91;
        margin-top: 1.5em;
        letter-spacing: 0.04em;
        line-height: 1.6em;
    }
    &__button {
        font-size: 19px;
        opacity: 0.85;
        margin-top: 2.7em;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        &::after {
            content: url(../assets/img/arrow.png);
            margin-left: 20px;
        }
    }
}

.teamWrapper {
    width: 100%;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 440px 440px;
    gap: 15px;
}

.member {
    background-position: center;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &1 {
        background-image: url(../assets/img/member_1.png);
    }
    &2 {
        background-image: url(../assets/img/member_2.png);
    }
    &3 {
        background-image: url(../assets/img/member_3.png);
    }
    &4 {
        background-image: url(../assets/img/member_4.png);
    }
    &5 {
        background-image: url(../assets/img/member_5.png);
    }
    &6 {
        background-image: url(../assets/img/member_1.png);
    }
    &:hover .bubble {
        display: block;
    }
}

.bubble {
    width: 100%;
    height: fit-content;
    opacity: 0.97;
    display: none;
    &__triangle {
        width: 42px;
        height: 37px;
        background: no-repeat center url(../assets/img/bubble_triangle.png);
        position: relative;
        top: 17px;
        left: 10px;
    }
    &__box {
        background: #6ff6eb;
        padding: 40px;
        color: black;
        box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.13);
    }
    &__memberName {
        display: inline;
        font-family: 'Merriweather';
        font-weight: 700;
        font-size: 20px;
        opacity: 0.95;
        text-transform: uppercase;
        margin-right: 0.2em;
        letter-spacing: 0.04em;
    }
    &__memberTitle {
        display: inline;
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 15px;
        font-style: italic;
        color: #767070;
        opacity: 0.95;
        letter-spacing: 0.03em;
        &::before {
            content: "/";
            margin-right: 0.3em;
            font-style: normal;
        }
    }
    &__message {
        opacity: 0.8;
        margin: 1em 0 2em;
        line-height: 1.5em;
    }
    &__socials {
        opacity: 0.7;
        font-family: 'Font Awesome 5 Brands',
        'Font Awesome 5 Free';
        font-size: 12px;
        & a {
            margin-right: 1em;
        }
    }
}

.testimonials {
    background: #f9fbfb;
}

.testiWrapper {
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    & div {
        border-radius: 4px;
    }
}

.memberPhoto {
    width: 394px;
    height: 460px;
    &__background {
        height: 360px;
        width: 100%;
        background: #ecedef;
    } 
    &__preview {
        position: relative;
        top: -380px;
        margin: 0 auto;
        height: 410px;
        width: 320px;
        background: no-repeat center url(../assets/img/testimonials_prev.png);
        box-shadow: 3px -1px 20px 0 rgba(0,0,0,0.13);
    }
    & .photoNavigation {
        top: -330px;
    }
}

.wrapper {
    position: relative;
}

.textBox {
    width: 660px;
    height: 360px;
    background: #eaebed;
    color: black;
    padding: 100px 85px 70px;
    text-align: center;
    &__name {
        display: inline;
        font-family: 'Merriweather';
        font-weight: 700;
        font-size: 20px;
        opacity: 0.95;
        text-transform: uppercase;
        margin-right: 0.2em;
        letter-spacing: 0.04em;
    }
    &__title {
        display: inline;
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 15px;
        opacity: 0.95;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #787878;
        &::before {
            content: "/";
            margin-right: 0.3em;
            font-style: normal;
        }
    }
    &__statement {
        opacity: 0.7;
        margin: 1em 0 2em;
        line-height: 1.5em;
        letter-spacing: 0.05em;
    }
    &__rate {
        margin: 0 auto;
        width: fit-content;
    }
    &__star {
        width: 15px;
        height: 14px;
        display: inline-block;
        background: url(../assets/img/star.svg);
        &:not(:last-child) {
            margin-right: 4px;
        }
    }
}

.navArrows {
    margin-top: 40px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 135px;
    &__button {
        height: 50px;
        width: 50px;
        background: white;
        box-shadow: 2px 3px 15px 0 rgba(0,0,0,0.08);
        &:hover {
            background: #71f6eb;
        }
    }
    &__left {
        margin: 18px;
        width: 14px;
        height: 15px;
        background: url(../assets/img/arrow-left.svg);
        opacity: 0.3;
    }
    &__right {
        width: 14px;
        height: 15px;
        background: url(../assets/img/arrow-right.svg);
        opacity: 0.3;
        margin: 18px;
    }
    &__buttonLeft:hover &__left {
        opacity: 1;
    }
    &__buttonRight:hover &__right {
        opacity: 1;
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 3%;
    margin-top: -40px;
    &__logo {
        display: block;
        width: 160px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        filter: contrast(0%);
        opacity: 0.8;
        &1 {
            background-image: url(../assets/img/logo_rko.png);
            order: 1;
        }
        &2 {
            background-image: url(../assets/img/logo_audiopro.png);
            order: 2;
        }
        &3 {
            background-image: url(../assets/img/logo_infinity.png);
            order: 3;
        }
        &4 {
            background-image: url(../assets/img/logo_sport.png);
        }
        &5 {
            background-image: url(../assets/img/logo_swan.png);
        }
        &6 {
            background-image: url(../assets/img/logo_swanser.png);
        }
        &7 {
            background-image: url(../assets/img/logo_audiopro.png);
        }
        &8 {
            background-image: url(../assets/img/logo_infinity.png);
        }
        &9 {
            background-image: url(../assets/img/logo_rko.png);
        }
        &:hover, &:active {
            filter: none;
            opacity: 1;
        }
    }
}

.contacts {
    background: linear-gradient(to top, rgba(225,225,225,0.67), rgba(225,225,225,0.67)),
    url(../assets/img/christmas_snow_trees-wide.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
}

.contact {
    background: rgba(2,22,35,0.71);
    width: 615px;
    height: 460px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & input {
        display: block;
        font-family: 'Raleway';
        font-size: 15px;
        font-weight: normal;
    }
    &__name, &__subj, &__email, &__message,
    &__name::placeholder, &__subj::placeholder, 
    &__email::placeholder, &__message::placeholder {
        color: white;
        opacity: 0.8;
    }
    &__name, &__subj, &__email {
        width: 100%;
        height: 3em;
        border-bottom: 1px solid rgba(225,225,225,0.4);
    }
    &__message {
        width: 100%;
        height: 8em;
        border-bottom: 1px solid rgba(225,225,225,0.4);
    }
    &__submit {
        display: block;
        width: 240px;
        height: 55px;
        background: #6eeee4;
        color: rgba(0,0,0,0.7);
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.09em;
        margin-top: 20px;
    }
}

.address {
    background: rgba(2,22,35,0.71);
    width: 500px;
    height: 460px;
    padding: 34px 22px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
        color: white;
        font-size: 15px;
        opacity: 0.7;
        line-height: 1.6em;
        margin-left: 10px;
    }
    &__map {
        width: 100%;
        height: 225px;
        background: center url(../assets/img/GoogleMap.png);
    }
}

.media {
    background: #262b2e;
    width: 100%;
    padding: 90px;
    text-align: center;
    &__follow {
        opacity: 0.8;
        text-transform: uppercase;
        color: white;
    }
    &__allrights {
        opacity: 0.5;
        color: white;
    }
    &__container {
        width: fit-content;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 15px auto 40px;
    }
    &__link {
        font-family: 'Font Awesome 5 Brands';
        font-size: 20px;
        display: block;
        height: 40px;
        width: 45px;
        background: rgba(108,110,111,0.55);;
        opacity: 0.7;
        color: white;
        padding-top: 0.5em;
        &:hover, &:active {
            opacity: 1;
            background: #6eeee4;
            color: black;
        }
    }
}